*{
    border:0px;
    margin: 0px;
    padding:0%;
}

/*HEADER*/
body{
    background: #f1f1f1;
    width:800px;
}
header{
    display:flex;
    background: #c6c6c6;
    margin:10px;
    padding:10px;
    justify-content:space-between;
    align-items: center;
    font-family:Verdana;
}
header h1{
    text-transform: uppercase;
    font-weight: bold;
    background:#ffd900;
    padding:5px 80px;
    margin: 5px;
    border-radius: 5px;
}
header ul{
    display:flex;
}
header ul li{
    list-style: none;
    padding:5px 8px;
    margin: 5px;
    background: #fff;
    border-radius: 5px;

}
header ul li:hover{
    background: #ffd900;
}
header ul li a{
    text-decoration:none;
    color: #000000;
    font-weight: bold;
}
header ul li a:hover{
    text-decoration:underline;
    font-weight: bolder;
}
/*MAIN*/
main{
    display:flex;
}
main section{
}
main section article {
    background: #c6c6c6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    margin:0 10px 10px 10px;
}

main section article p.data{
    text-decoration: underline;
    font-size:13px;
    margin:5px;
}
main aside{
    background: #c6c6c6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:300px;
    padding: 15px;
    margin:0 10px 10px 0px;
}
footer{
    display:flex;
    background: #c6c6c6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    margin:0 10px 10px 10px;
}